.wrapper {
  position: fixed;
  padding: 20px;
  background-color: #39c939;
  color: #000;
  z-index: 5;
  width: 300px;
  right: 0;
  top: 0;
}

.btnClose {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;

  &:hover {
    color: black;
  }
}
